.contact-block {
    background: #1B2947 0% 0% no-repeat padding-box;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 32%;
    margin-bottom: 1rem;
    z-index: 7;
}

.contact-block h4 {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: var(--lightgray);
    font-weight: var(--bold);
}

.contact-block i {
    font-size: 3rem;
    display: block;
    margin: 0px auto 1rem auto;
    color: var(--blue);
}


/* .map {
    width: 90%;
} */

iframe {
    border-radius: 1rem;
    overflow: hidden;
}

.map-holder .design-dots {
    right: auto;
    left: -3rem;
    z-index: -1;
}

.map-holder .design-circle {
    left: auto;
    right: -4rem;
    z-index: -1;
    bottom: -4rem;
}

.form-group {
    margin-top: 2rem;
}

.form-control {
    background: #1B2947 0% 0% no-repeat padding-box;
    border: 1px solid #263966;
    border-radius: 4px;
    opacity: 1;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    color: var(--white);
}

.form-control:focus {
    background: #1B2947 0% 0% no-repeat padding-box;
    border: 1px solid var(--primary);
    box-shadow: unset;
    outline: unset;
    color: var(--white);
}

.formBtn {
    margin-top: 2rem;
}

.contacts-holder .design-blob {
    left: 50%;
    margin-top: 0rem;
}


@media(max-width:560px) {

    .contact-block {
        width: 100%;
    }

    .map-holder .design-circle {
        right: 0rem;
    }
}