header {
    padding: 1.5rem 0px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

#logo {
    display: block;
    width: fit-content;
}

#logo img {
    max-width: 100%;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    display: block;
    padding: 1rem;
    color: var(--lightgray);
    transition: all 0.3s;
    font-weight: var(--semibold);
    font-size: 1rem;
}

.navigation li a:hover,
.navigation li a.active {
    color: var(--primary);
}


.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    color: var(--white);
}


.mobile-nav-icon[name="close-outline"] {
    display: none;
}


@media(max-width:992px) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        color: var(--white);
    }

    header {
        position: relative;
    }

    .navigationHolder {
        /* display: none; */
        width: 96%;
        /* height: 40vh; */
        background: var(--darkblue);
        position: absolute;
        top: 5rem;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: all 0.7s ease;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 999;
        margin: 8px;
        height: 100vh;
    }

    .navigation li {
        width: 100%;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 0.5rem;

    }

    .navigation li a {
        display: block !important;
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .active .navigationHolder {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }

    .mobile-nav-icon {
        max-width: 3rem;
    }


    #logo img {
        max-width: 3.5rem;
    }

    .right-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


@media(max-width:680px) {

    .text-right .btn-primary {
        font-size: 0.8rem;
        padding: 0.5rem 0.5rem;
    }


}